* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

p {
    padding:10px;
    margin:0px; 
}

h1 {
    text-align: center;
}

.row {
    width:100%
}

.section {
    background-color: rgb(143, 143, 143);
    border: solid black 1px;
    margin:8px;
    
}

.title-chicken {
    background-color: salmon;

}

.title-beef {
    background-color: rgb(175, 20, 142);

}

.title-sushi {
    background-color: lightyellow;
}

.menu-title {
    border: 1px solid black;
    margin-left:70%;
    padding:10px;
    text-align: center;
    
}

@media (min-width:992px) {
    .desktop-screen {
        float:left;
        width:33.33%;
    }  

 
}

@media (min-width:768px) and (max-width:991px) {
    .tablet-screen {
        float:left;
        width:50%;

    }

}

@media (max-width:767px) {
    .phone-screen {
    float:left;
    width:100%;
    }
}