* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

.row {
    width:100%
}

.section {
    background-color: rgb(143, 143, 143);
}
@media (min-width:992px) {
    .desktop-screen {
        float:left;
        width:33.33%;
    }  

 
}

@media (min-width:768px) and (max-width:991px) {

}

@media (max-width:767px) {
    
}